@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;600&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conatainer {
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  width: 290px;
  padding: 1.5rem;
}

.image {
  position: relative;
}

.image div {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image div:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
}

.image div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.description {
  color: hsl(215, 51%, 70%);
  padding: 0.6rem 0 1.5rem 0;
  line-height: 25px;
}

.value-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid hsl(215, 51%, 70%);
  padding-bottom: 1.3rem;
  margin-bottom: 1rem;
}

.value {
  color: cyan;
  display: flex;
  align-items: center;
}

.value img {
  margin-right: 7px;
}

.time {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.time img {
  margin-right: 5px;
}

.author img {
  width: 30px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px white solid;
}

.author span {
  color: white;
}

.author {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.mainImg,
h1,
span {
  cursor: pointer;
}

.author span:hover {
  color: cyan;
}

h1:hover {
  color: cyan;
  text-decoration: underline;
}
